body {
  margin: 0;
  padding: 20px;
  background: #050505;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

.container {
  width: 330px;
  text-align: center;
}

.clock-box, .timer-box {
  background: #0a0a0a;
  padding: 25px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0,255,180,0.2);
  border: 2px solid rgba(0,255,200,0.2);
}

.clock-box h2,
.timer-box h2 {
  color: #00ffc8;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-shadow: 0 0 8px #00ffc8;
}

#clock {
  font-size: 40px;
  background: #000;
  color: #00ffc8;
  padding: 18px;
  border-radius: 8px;
  text-shadow: 0 0 10px #00ffc8;
  box-shadow: inset 0 0 15px rgba(0,255,200,0.4);
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 15px;
}

input {
  width: 90px;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #00ffc8;
  background: #000;
  color: #00ffc8;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,255,200,0.4);
}

button {
  padding: 12px 18px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #00ffc8;
  color: #000;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 12px #00ffc8;
  transition: 0.2s;
}

button:hover {
  background: #00b48b;
  box-shadow: 0 0 20px #00ffc8;
}

button:active {
  transform: scale(0.95);
}

#timer-display {
  margin-top: 20px;
  font-size: 38px;
  background: #000;
  color: #00ffc8;
  padding: 18px;
  border-radius: 8px;
  text-shadow: 0 0 10px #00ffc8;
  box-shadow: inset 0 0 15px rgba(0,255,200,0.4);
}
